<launch>
  <node pkg="pfoe_cartpole" name="key_cmd" type="key_input.py" required="true"/>
  <node pkg="pfoe_cartpole" name="cartpole" type="cartpole.py" output="screen"/>

  <arg name="set_console" default="wait"/>
  <node pkg="pfoe_cartpole" name="buttons" type="buttons.py" output="screen">
    <param name="/console" value="$(arg set_console)" type="str"/>
  </node>
  <node pkg="pfoe_cartpole" name="result_logger" type="result_logger.py" output="screen"/>
</launch>

