<launch>
  <node pkg="pfoe_cartpole" name="key_cmd" type="key_input.py" required="true" output="screen"/>
  <node pkg="pfoe_cartpole" name="cartpole" type="cartpole.py"/>

  <arg name="set_console" default="wait"/>
  <node pkg="pfoe_cartpole" name="buttons" type="buttons.py">
    <param name="/console" value="$(arg set_console)" type="str"/>
  </node>
</launch>

